<div class="main">
        <div class="main_block">
            <div class="center_block">
                    <div class="logo">
                            <img class="logo_style" />
                        </div>
                <div class="page_create">
                    <div class="row">
                        <label><h3>App submit
                                </h2></label>
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="app_version" type="text" class="validate">
                                    <label for="app_version">App Version</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Release Notes</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="file-field input-field">
                                    <div class="btn blue darken-4 z-depth-3">
                                        <span>Build</span>
                                        <input type="file">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <a class="waves-effect waves-light btn blue darken-4 z-depth-3">Submit</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>