<div class="main">
    <div class="main_block">
        <div class="center_block">
            <div class="row" fxLayoutAlign="none center">
                <div fxFlex="15%">
                    <img class="logo_style" /></div>
                <div fxFlex="85%">
                    <div style="display: inline-block; text-align: right; width: 80%;">
                        <button mat-raised-button class="theme" style="margin: 2em;" (click)="launchAddNew()">
                            Add New Application</button>
                    </div>
                </div>
            </div>
            <div class="page_create_history">
                <div class="row">
                    <div fxFlex="50%">
                        <img class="app_icon" style="width:8em" />
                        <label style="font-size: 1.3rem;display: inherit;">Android</label>
                    </div>
                    <div fxFlex="50%">
                        <img class="app_icon" style="width:8em" />
                        <label style="font-size: 1.3rem;display: inherit;">iOS</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>