<div class="main">
    <div class="main_block">
        <div class="center_block">
            <div class="row" fxLayoutAlign="none center">
                    <div fxFlex="15%">
                <img class="logo_style"  /></div>
                <div fxFlex="85%">
                <div style="display: inline-block; text-align: right; width: 80%;">
                        <button mat-raised-button class="theme" (click)="moveToHome()">Back</button>
                    </div> </div>
            </div>
            <div class="page_create_history">
                <h5 align="left" style="font-size: 1.3em;margin: 0.5em;">Mobile Banking Builds</h5>
                <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" style="width: 100%;">
                    <ng-container matColumnDef="version">
                        <th mat-header-cell *matHeaderCellDef> VERSION </th>
                        <td mat-cell *matCellDef="let element" style="text-align: left;"><a href="{{element.url}}"> {{element.version}}</a> </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="releaseDate">
                        <th mat-header-cell *matHeaderCellDef> RELEASE DATE </th>
                        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.releaseDate}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="releaseNotes">
                        <th mat-header-cell *matHeaderCellDef> RELEASE NOTES </th>
                        <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.releaseNotes}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
            </div>
        </div>
    </div>